//init vars
*,body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
a, a:visited{
   color: white;
   text-decoration: none;
}
body{
   background-color: #000000;
}
@font-face {
    font-family: franklin;
    src: url("../font/franklinmed.ttf");
}
@font-face {
    font-family: unisans;
    src: url("../font/unisansheavy.otf");
}
@font-face {
    font-family: monreg;
    src: url("../font/monreg.otf");
}
@font-face {
    font-family: monlight;
    src: url("../font/Montserrat-Light.otf");
}
@font-face {
    font-family: monheavy;
    src: url("../font/Montserrat-Bold.otf");
}
@font-face {
    font-family: myriadproreg;
    src: url("../font/myriadpro-reg.otf");
}
$font-white: #FFFFFF;
$font-black: #000000;
.unisans-title{
   color: $font-white;
   font-family: unisans;
   font-size: 20px;
   text-transform: uppercase;
}
.paragraph-monreg{
   color: $font-white;
   font-family: monreg;
   font-size: 14px;
}
.paragraph-monlight{
   color: $font-white;
   font-family: monlight;
   font-size: 16px;
}
.milv-button{
   width: 160px;
   text-align: center;
   font-family: monlight;
   height: 40px;
   padding: 8px;
   border-radius: 25px;
   font-size: 17px;
   color: white;
   border: 1px solid white;
   cursor: pointer;
   transition: all .3s ease;
   margin: auto !important;
}
.milv-button:hover{
   border: 1px solid black;
   color: black;
   background-color: white;
}
//init vars
.parent-container{
   width: 320px;
   margin: auto;
}
//header
.nav-header{
   padding: 10px 20px;
   color: $font-white;
   font-size: 17px;
   height: 80px;
   display: block;
   width: 100vw;
   position: fixed;
   z-index: 5;
   background-color: #000000;
}
.nav-menu{
   float: right;
   display: none;
   background-color: #111;
   width: 100vw;
   left: 0px;
   position: fixed;
   top: 80px;
   ul{
      list-style: none;
      font-family: franklin;
      cursor: default;
      text-decoration: none;
   }
   li{
      display: block;
      padding: 20px 0px;
      margin: 0px 10px;
      cursor: pointer;
      transition: all .3s cubic-bezier(0.24, 0.77, 0.25, 1);
      opacity: 0.8;
      text-decoration: none;
   }
   li:hover{
      transform: translateY(-5px);
      opacity: 1;
      border-bottom: 1px solid white;
   }
}
.nav-logo{
   width: 60px;
   height: 60px;
   float: left;
   background-image: url(../img/props/milv-logo.png);
   background-size: contain;
   background-repeat: no-repeat;
}
.header-fix{
   height: 80px;
}
//header
//top-slider
.top-slider{
   height: 520px;
   background-color: #14f7fa;
   .slick-dots{
      text-align: center;
      bottom: 250px;
      position: absolute;
      right: 50px;
      list-style: none;
      li{
         height: 13px;
         width: 13px;
         background-color: black;
         margin: 10px;
         border-radius: 50%;
         border: 1px black solid;
         opacity: 0.5;
         cursor: pointer;
         transition: all .3s ease;
      }
      li:hover{
         transform: translateX(-3px);
         background-color: white;
         opacity: 1;
      }
      button{
         display: none;
      }
      .slick-active{
         background-color: white;
         opacity: 1;
      }
   }
}
.top-slider-content{
   color: $font-black;
   font-family: monheavy;
   font-size: 48px;
   margin: auto;
   text-align: center;
   height: 520px;
   padding: 180px 0px;
   outline: none;
   cursor: pointer;
}

//top-slider

//first-parallax-section
.first-parallax-section{
   margin: 50px 0px;
}
.first-section-header{
   @extend .unisans-title;
   margin-bottom: 50px;
}
.first-section-left{
   display: inline-block;
   position: static;
   transition: all .4s ease;
   .first-section-subheader{
      @extend .unisans-title;
      font-size: 24px;
      margin-bottom: 20px;
   }
   .first-section-subheader::after{
      content: "";
      width: 45px;
      border-bottom: 1px solid white;
      display: block;
   }
   .first-section-paragraph{
      @extend .paragraph-monreg;
   }
}
.first-section-grid-container{
   width: 100%;
   margin: auto;
   text-align: center;
}
.first-section-grid{
   width: 148px;
   height: 148px;
   background-color: grey;
   display: inline-block;
   margin: 5px;
   background-position: center center;
   background-size: 110%;
   background-repeat: no-repeat;
   transition: background-size .3s ease;
   -moz-transition: background-size .3s ease;
   -ms-transition: background-size .3s ease;
   -o-transition: background-size .3s ease;
   -webkit-transition: background-size .3s ease;
}
.grid-img{
   width: 148px;
   height: 148px;
}
.first-section-grid:hover{
   background-size: 100%;
}
.first-section-right{
   width: 180px;
   display: inline-block;
   height: 370px;
   background-image: url(../img/props/static-1.png);
   background-repeat: no-repeat;
   background-size: contain;
   right: 0;
   top: 80px;
   position: fixed;
   z-index: -9;
   transition: all .4s ease;
   opacity: 0.3;
}
.button-container{
   text-align: center;
   margin-bottom: 20px;
}
.first-section-button{
   @extend .milv-button;
   margin: auto;
}
//first-parallax-section

//main-section
.main-section{
   width: 100%;
   margin: 80px 0px;
   height: 100%;
}
.main-section-left{
   background-color: grey;
   width: 100%;
}
.main-section-right{
   background-color: grey;
   width: 100%;
}
//main-section-1
.main-section-1{
   @extend .main-section;
}
.main-section-left-1{
   @extend .main-section-left;
   z-index: 1;
   transition: all .4s ease;
   height: 300px;
   margin-bottom: 20px;
}
.main-section-right-1{
   @extend .main-section-right;
   background-color: transparent;
   position: relative;
   transition: all .4s ease;
}
.main-header-1{
   @extend .unisans-title;
}
.main-subheader-sm{
   font-family: monlight;
   color: white;
   font-size: 30px;
}
.main-subheader-xl{
   font-family: monheavy;
   color: white;
   font-size: 45px;
   text-transform: none;
}
.main-subheader-xl::after{
   content: "";
   width: 52px;
   border: 1px solid white;
   display: block;
   height: 0px;
   margin-top: 20px;
   margin-bottom: 30px;
}
.main-paragraph-1{
   @extend .paragraph-monlight;
   line-height: 25px;
}
.button-container-1{
   margin-top: 50px;
}
.main-button-1{
   @extend .milv-button;
   margin: auto;
}
//main-section-1

//main-section-2
.main-section-2{
   @extend .main-section;
   position: relative;
   padding-top: 320px;
}
.main-section-left-2{
   @extend .main-section-left;
   background-color: transparent;

   position: relative;
   transition: all .4s ease;
}
.main-section-right-2{
   @extend .main-section-right;
   position: absolute;
   transition: all .4s ease;
   height: 300px;
   top: 0px;
}
.main-header-2{
   @extend .unisans-title;
}
.main-paragraph-2{
   @extend .paragraph-monlight;
   line-height: 25px;
}
.button-container-2{
   margin-top: 50px;
}
.main-button-2{
   @extend .milv-button;
   margin: none;
}
//main-section-2
//main-section-3
.main-section-3{
   @extend .main-section;
}
.main-section-left-3{
   @extend .main-section-left;
   position: relative;
   transition: all .4s ease;
   height: 300px;
}
.main-section-right-3{
   @extend .main-section-right;
   background-color: transparent;
   position: relative;
   transition: all .4s ease;
}
.main-header-3{
   @extend .unisans-title;
}
.main-paragraph-3{
   @extend .paragraph-monlight;
   line-height: 25px;
}
.button-container-3{
   margin-top: 50px;
}
.main-button-3{
   @extend .milv-button;
   margin: none;
}
//main-section-3
//second-slider-div
.second-slider-container{
   position: relative;
}
.second-slider{
   margin-top: 80px;
   .slick-dots{
      text-align: center;
      list-style: none;
      margin-top: 50px;
      li{
         height: 13px;
         width: 13px;
         background-color: black;
         margin: 10px;
         border-radius: 50%;
         border: 1px solid white;
         opacity: 1;
         cursor: pointer;
         display: inline-block;
         transition: all .3s ease;
      }
      li:hover{
         transform: translateY(-3px);
      }
      button{
         display: none;
      }
      .slick-active{
         background-color: white;
         opacity: 1;
      }
   }
}
.second-slider-title{
   @extend .unisans-title;
   text-align: center;
}
.second-slider-content{
   text-align: center;
}
.second-slider-img{
   background-color: white;
   width: 168px;
   height: 168px;
   border-radius: 50%;
   margin: 5px auto 15px;
}
.second-slider-header{
   font-family: monheavy;
   color: white;
   font-size: 40px;
}
.second-slider-header::after{
   content: "";
   width: 52px;
   border: 1px solid white;
   display: block;
   height: 0px;
   margin: 20px auto;
}
.second-slider-desc{
   font-family: monlight;
   color: white;
   font-size: 18px;
}
.second-slider-content{
   outline: none;
   cursor: pointer;
}
.arrows{
   height: 25px;
   width: 25px;
   position: absolute;
   top: 260px;
   cursor: pointer;
   transition: all .3s ease;
}
.arrow-prev{
   @extend .arrows;
   border-top: 1px solid white;
   border-left: 1px solid white;
   left: -10px;
   transform: rotate(-45deg);
}
.arrow-next{
   @extend .arrows;
   border-top: 1px solid white;
   border-right: 1px solid white;
   right: -10px;
   transform: rotate(45deg);
}
.arrows:hover{

}
//second-slider-div

//main-section-4
.main-section-4{
   @extend .main-section;
}
.main-section-left-4{
   @extend .main-section-left;
   background-color: transparent;
   position: relative;
}
.main-section-right-4{
   @extend .main-section-right;
   background-color: transparent;
}
.main-header-4{
   @extend .unisans-title;
}
.main-paragraph-4{
   @extend .paragraph-monlight;
   line-height: 25px;
}
.button-container-4{
   margin-top: 50px;
}
.main-button-4{
   @extend .milv-button;
   margin: none;
}
.main-subheader-l{
   font-family: monheavy;
   color: white;
   font-size: 38px;
   margin-bottom: 40px;
}
.main-subheader-m{
   font-family: monheavy;
   color: white;
   font-size: 38px;
   position: relative;
   text-align: right;
}
.main-subheader-m::after{
   content: "";
   border: 1px solid white;
   width: 40px;
   height: 0px;
   display: block;
   margin-top: 10px;
   text-align: right;
   position: absolute;
   right: 10px;
}
.main-subheader-xs{
   font-family: monlight;
   color: white;
   font-size: 18px;
   text-align: right;
   margin-top: 20px;
   width: 110px;
}
.main-section-props-4{
   background-image: url(../img/props/static-2.png);
   height: 195px;
   background-size: contain;
   z-index: -2;
   background-repeat: no-repeat;
   position: absolute;
   top: 50;
   right: -10px;
   width: 200px;
   display: none;
}
.main-section-right-4{
   position: relative;
   width: 235px;
   bottom: 75px;
   left: 132px;
      .slick-dots{
         text-align: center;
         list-style: none;
         margin-top: 50px;
         position: absolute;
         left: -20px;
         top: 220px;
         li{
            height: 13px;
            width: 13px;
            background-color: black;
            margin: 10px;
            border-radius: 50%;
            border: 1px solid white;
            opacity: 1;
            cursor: pointer;
            display: block;
            transition: all .3s ease;
         }
         li:hover{
            transform: translateX(-3px);
         }
         button{
            display: none;
         }
         .slick-active{
            background-color: white;
            opacity: 1;
         }
      }
}
.triplet-slider-container{
   outline: none;
}
.triplet-slider-content{
   width: 170px;
   height: 140px;
   background-color: white;
   display: inline-block;
   margin: 15px 15px;
}
.blue{
   background-color: navy;
}
.purple{
   background-color: purple;
}
.yellow{
   background-color: yellow;
}
//main-section-4
//footer
.footer{
   background-color: #14f7fa;
   padding-top: 10px;
   padding-bottom: 10px;
}
.footer-left{
   font-family: myriadproreg;
   text-align: center;
}
.footer-left-location{
   background-image: url("../img/props/location.png");
   width: 210px;
   margin: 20px auto !important;
}
.footer-left-contact{
   background-image: url("../img/props/phone.png");
   width: 210px;
   margin: 20px auto !important;
}
.footer-left-mail{
   background-image: url("../img/props/message.png");
   width: 210px;
   margin: 20px auto !important;
}
.footer-left-module{
   margin: 40px 0px;
   padding-left: 15px;
   font-size: 14px;
   background-repeat: no-repeat;
   background-position: 0 center;
}
.footer-left-socmed{
   padding: 0px;
   text-align: center;
}
.socmed-module{
   display: inline-block;
   margin: 0px 7px;
   height: 35px;
   width: 35px;
   background-color: black;
   border-radius: 50%;
}
.footer-right{
   padding: 0px 0px;
}
.footer-right-header{
   @extend .unisans-title;
   color: black;
   text-align: center;
}
.footer-inputs{
   display: block;
   background-color: transparent;
   border: none;
   border-bottom: 1px solid #333;
   width: 250px;
   height: 50px;
   padding-left: 10px;
   color: black;
   margin-top: 20px;
   font-family: monlight;
   outline: none;
   margin: 10px auto 20px;
}
.message{
   height: 80px;
   padding-bottom: 50px;
}
.footer-button{
   @extend .milv-button;
   background-color: black;
   color: white;
   border: 1px solid black;
   margin: auto;
}
.module-fb{
   background-image: url(../img/props/icon-facebook.png);
   background-position: center center;
   background-repeat: no-repeat;
}
.module-twitter{
   background-image: url(../img/props/icon-twitter.png);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 20px;
}
.module-g{
   background-image: url(../img/props/icon-g.png);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 20px;
}
.module-p{
   background-image: url(../img/props/icon-p.png);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 20px;
}
.module-ig{
   background-image: url(../img/props/icon-ig.png);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 20px;
}
//footer
//copyright
.copyright-bottom{
   height: 80px;
   padding: 30px 0px;
   text-align: center;
   color: #656565;
   font-family: monlight;
   display: block;
}
.clearfix{
   clear: both;
}
//copyright
//mobile-handle
.mobile-handle-div{
   float: right;
   height: 60px;
   width: 60px;
   right: 40px;
   top: 10px;
}
.mobile-handle-line{
   width: 40px;
   margin: 10px auto;
   border: 2px solid white;
   border-radius: 500px;
}
//mobile-handle
//jquery-classes
.jquery-show{
   opacity: 1;
   z-index: 1;
}
.jquery-hide{
   opacity: 0.1;
   z-index: -1;
}
.jquery-lightbox{
   width: 100vw;
   height: 100vh;
   background-color: rgba(20, 20, 20, 0.18);
   position: fixed;
   top: 0;
   left: 0;
   background-size: 200px;
   background-position: center center;
}
@media screen and (min-width: 700px) {
   .parent-container{
      width: 80vw;
   }
   .footer-left, .footer-right{
      text-align: left;
      width: 300px;
      display: inline-block;
   }
   .footer-left-socmed{
      text-align: left;
      li{
         margin: none;
         margin: 0px 10px 0px 0px;
      }
   }
   .first-section-grid{
      width: 200px;
      height: 200px;
   }
   .grid-img{
      width: 200px;
      height: 200px;
   }
   .triplet-slider-content{
      width: 130px;
      height: 107px;
   }
   .main-section-right-4{
      width: 100%;
      .slick-dots{
         top: 100px;
         left: 180px;
         li{
            height: 13px;
            width: 13px;
            background-color: black;
            margin: 10px;
            border-radius: 50%;
            border: 1px solid white;
            opacity: 1;
            cursor: pointer;
            display: inline-block;
            transition: all .3s ease;
         }

      }
   }

}
